:root {
    --primary-color: #3498db;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}


@media (max-width: 768px) {
    .sidebar {
        height: auto;
        position: relative;
    }
    
    .dashboard_card {
        height: auto;
        min-height: 120px;
    }
}