
.sidebar {
    background-color: #FFFFFF;
    min-height: 100vh;
    border-radius: 10px;
    padding: 20px 0;
    border-right: 1px solid #e0e0e0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sidebar_section {
    margin-bottom: 15px;

}

.sidebar_title {
    font-size: 15px;
    font-weight: 1000;
    color: #6c757d;
    text-transform: uppercase;
    padding: 10px 20px 5px;
    letter-spacing: 0.5px;
    /* text-align: center; */
}

.sidebar_item {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    text-decoration: none;
    color: #495057;
    transition: all 0.3s ease;
    border-left: 3px solid transparent;
    position: relative;
}

.sidebar_item:hover {
    background-color: #e9ecef;
    color: #000;
    border-left-color: #007bff;
}

.sidebar_item.active {
    background-color: #e9ecef;
    color: #000;
    border-left-color: #007bff;
    font-weight: 500;
}

.sidebar_item_icon {
    width: 20px;
    margin-right: 12px;
    text-align: center;
    font-size: 20px

    
}

.sidebar_item_text {
    flex-grow: 10;
    color: #012970;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 18px;
 

}

.arrow {
    font-size: 12px;
    color: #060b10;
}

.sidebar_item:last-child {
    margin-top: 10px;
    border-top: 1px solid #e0e0e0;
    padding-top: 15px;
    color: #9785e8;
}

.sidebar_item:last-child .sidebar_item_icon {
    color: #010207;
}

.sidebar_item:last-child:hover {
    background-color: #6c86dc;
    color: #2c3e50;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .sidebar {
        min-height: auto;
        padding: 10px 0;
    }
    
    .sidebar_item {
        padding: 10px 15px;
    }
}