
        .header {
            background-color: var(--header-bg);
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
            padding: 15px 0;
            position: sticky;
            top: 0;
            z-index: 1000;
        }
        
        .logo_img {
            height: 40px;
            border-radius: 100px;
            height: 50px;
         margin-left: 50px;
        }
        
        .sams_title {
            font-weight: 600;
            font-size: 1.5rem;
            color: #2c3e50;
        }
        
        .search_icon {
            color: #6c757d;
            font-size: 1.2rem;
            margin-right: 20px;
            cursor: pointer;
        }
        
        .profile_icon {
            background-color: var(--primary-color);
            color: white;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
        }